body {
  overflow: hidden !important;
}
html {
  overflow-x: hidden !important;
  position: relative;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 16px;
    overflow-x: hidden !important;
  }

  body {
    overflow-x: hidden;
    position: relative;
  }

  .nav-links {
    position: absolute;
    right: 0;
    display: flex;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: #24292e;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block !important;
    cursor: pointer;
  }
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 9vh;
  color: white;
  background-image: linear-gradient(to right, #5d4fff, #4866e8);
  border-top: 4px solid #48b8e8;
}
.hidepc {
  display: none;
}
.socialicons {
  position: absolute;
  right: 9%;
  top: 3.1%;
}
.social {
  width: 1.4rem;
  color: #bfe7fa;
}
.loginbtn {
  display: flex;
  position: absolute;
  top: .7rem;
  right: 10%;
}
@media only screen and (min-width:0px) and (max-width:800px){
  .loginbtn{
    right: 22%;
    top: .6rem;
  }
}
.loginbtn a {
  border: 1.2px solid gold;
  text-decoration: none;
  color: gold;
  background: transparent;
  border-radius: 100px;
  padding: 0.4rem 1.3rem 0.58rem;
}

.nav-logo {
  margin-left: 2rem;
  height: 3.4rem;
  width: 3.7rem;
  margin-top: 0.2rem;
}

.nav-links {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: space-around;
  margin-left: 0.5rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #bfe7fa;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 0.85rem;
  font-family: "Major Mono Display", monospace;
}
.nav-links a:hover {
  color: #bfe7fa;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 0.85rem;
  font-family: "Major Mono Display", monospace;
}
.loginbtn a:hover {
  text-decoration: none;
  color: gold;
}
.logoutbtn a:hover {
  text-decoration: none;
  color: red;
}
.burger {
  display: none;
  margin-left: 1rem;
}

.burger div {
  transition: all 0.3s;
  width: 1.8rem;
  height: 0.3rem;
  background-color: rgb(0, 0, 0);
  margin: 0.3rem;
}

.nav-active {
  transform: translateX(0) !important;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}

.heading {
  font-family: "Special Elite", cursive;
  margin-top: 7rem;
  font-size: 70px;
  color: black;
  letter-spacing: 0.5rem;
}
.nav ul {
  margin-block-start: 0.4rem;
  padding-inline-start: 6px;
}

@media screen and (max-width: 902px) {
  .nav-links {
    position: absolute;
    right: 0;
    background-size: 67vh;
    display: flex;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-image: url("./icons/navbarbackground.jpg");
    z-index: 4;
  }

  .nav-links li {
    z-index: 5;
    opacity: 0;
    margin-bottom: 2rem;
  }
  .nav-links a {
    color: black;
    font-size: 1.3rem;
  }

  .burger {
    display: block;
    position: absolute;
    right: 8%;
  }
  .hidemobile {
    display: none;
  }

  .social {
    width: 5rem;
    color: black;
  }
  .sociallist {
    background-color: black;
  }
  .hidepc {
    display: inline-block;
  }
  .nav-logo {
    margin-left: 1.5rem;
    height: 2.7rem;
    width: 3rem;
    margin-top: 0.2rem;
    border-radius: 50%;
  }
}
