.about {
    background-color: black;
    margin-top: 33rem;
    border-top: 10px solid goldenrod;
}

.example_b2 {
    color: black !important;
    font-family: 'Major Mono Display', monospace;
    letter-spacing: -0.03rem;
    text-decoration: none;
    background: rgb(206, 158, 39);
    padding: 18px;
    border-radius: 50px;
    display: inline-block;
    border: 1.5px solid rgb(201, 115, 36);
    transition: all 0.4s ease 0s;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.example_b2:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(233, 205, 47, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(233, 205, 47, 0.57);
    transition: all 0.4s ease 0s;
}

.iconabout {
    height: 60%;
    margin-top: 3rem;
    margin-left: 5rem;
}

.iconabout2 {
    height: 60%;
    margin-top: -3rem;
    margin-right: 5rem;
}