.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height:3vh;
    color:black;
    background-color:white;
    border-top:2px solid blue;


}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.whygeek {
    padding-left: 1rem;
    font-size: .9rem;
    font-family: 'Major Mono Display', monospace;

}

.nav-logo {
    margin-left: 3rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    margin-left: .4rem;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color:black;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: .8rem;
    font-family: 'Major Mono Display', monospace;
}

.burger {
    display: none;
    margin-left: 4rem;
}

.burger div {
    transition: all .3s;
    width: 1.8rem;
    height: .3rem;
    background-color: rgb(0, 0, 0);
    margin: .3rem;
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-9px, 6px)
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-9px, -6px)
}

.heading {
    font-family: 'Special Elite', cursive;
    margin-top: 7rem;
    font-size: 70px;
    color: black;
    letter-spacing: .5rem;
}
.nav ul{
    margin-block-start: .4rem;
    padding-inline-start: 6px;
}
@media only screen and (min-width:0px) and (max-width:800px){
.burger{
    margin-left: 20rem;
}
}
