.online {
  background-color: white;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #fff;
}

.alumnihr {
  width: 30%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-block-end: 0;
}
.carousel {
  background: rgb(241, 241, 241);
}
.carousel-wrapper {
  background: transparent;
  box-shadow: none;
}
.imagealumni {
  width: 100%;
}
.carousel-cell {
  background-color: transparent;
}
.alumnides {
  position: absolute;
  top: 41%;
  left: 0;
  width: 100%;
  height: 59%;
}
.alumnihead h1 {
  font-weight: 900;
  font-size: 5rem;
  margin-top: 4rem;
  color: rgb(228, 108, 72);
  margin-bottom: -3rem;
}
.card-content p {
  font-size: 0.8rem;
  margin-top: 0.1rem;
  color: gray;
}

.quotes {
  font-size: 1.2rem;
}

.alumniheader {
  margin: 4rem 0;
  letter-spacing: 0.2rem;
  font-family: Arial, Helvetica, sans-serif, cursive;
}

@media only screen and (max-width: 768px) {
  .alumni {
    display: block;
  }
  .firstcard {
    margin: 1rem auto;
    height: 28rem;
    width: 48%;
  }
  .secondcard {
    margin: 3rem auto;
    height: 28rem;
    width: 48%;
  }
  .thirdcard {
    margin: 3rem auto;
    height: 28rem;
    width: 48%;
  }
  .alumnihr2 {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1125px) {
  .alumni {
    display: block;
  }
  .firstcard {
    margin: 1rem auto;
    height: 29rem;
    width: 38%;
  }
  .secondcard {
    margin: 3rem auto;
    height: 29rem;
    width: 38%;
  }
  .thirdcard {
    margin: 3rem auto;
    height: 29rem;
    width: 38%;
  }
  .alumnihr2 {
    width: 55%;
  }
}
@media only screen and (min-width: 10px) and (max-width: 540px) {
  .alumnihead h1 {
    font-weight: 900;
    font-size: 2.8rem;
    margin-top: 3.4rem;
    color: rgb(228, 108, 72);
    margin-bottom: -2.7rem;
  }

  .alumnihr2 {
    width: 90%;
  }
}

.cars {
  margin: 0;
  padding: 0;
  background-color: #d9e2fd;
  width: 100%;
  height: 100vh;
  position: relative;
}
.online {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  position: relative;
}
.middleArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
}
.mySlider {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200px;
  transform: perspective(550px) translateY(-50%);
  transform-style: preserve-3d;
  /*overflow-x: hidden;*/
}
.mySlider .slideItems {
  position: absolute;
  width: 12rem;
  height: 18rem;
  left: 50%;

  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  /*transform-style: preserve-3d;*/
  transition: 0.5s;
}
.slideItems.active {
  transform: translateX(-50%) scale(1.2);
  z-index: 2;
  opacity: 1;
}
.slideItems.prev {
  /*transform:translateX(calc(-50% - 200px)) rotateY(70deg) skewY(-9deg);*/
  opacity: 0.9;
}
/*.item2{background-color: #ff6085;z-index: 1;}*/
.slideItems.next {
  /*transform:translateX(calc(-50% + 200px)) rotateY(-70deg) skewY(9deg);*/
  opacity: 0.9;
}

.item1 {
  background-color: #a4a4a4;
  z-index: 1;
}
.item2 {
  background-color: #a4a4a4;
  z-index: 1;
}
.item3 {
  background-color: #a4a4a4;
  z-index: 1;
}
.item4 {
  background-color: #a4a4a4;
  z-index: 1;
}

.card-content h1 {
  font-size: 1.2rem;
}
.card-content p {
  word-wrap: break-word;
  margin-bottom: 0.1rem;
}
.myNavs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
}

.myNavs .left {
  position: absolute;
  left: 0;
  top: 0;
}
.myNavs .right {
  position: absolute;
  right: 0;
  top: 0;
}
.myNavs {
  font-size: 3rem;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
  .myNavs {
    color: rgb(228, 108, 72);
  }
}
