.alumni{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
   
}
.slidercont{
  
    width: 100%;
    color: #000;
    margin: 0;
    padding:0;
    background: #202026;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background:#fff;
  }

.firstcard{
    height: 27rem;
    width: 32%;
    margin:1rem;
    background:white;
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    background:linear-gradient(to right,#43C6AC,#0ED2F7);   
}

.alumnihr{
    width: 30%;
    border-top: 2px solid rgba(0, 0,0, .4);
    margin-top: .6rem;
    margin-bottom: .6rem;
    margin-block-end: 0;
}
.alumnihr2{
    width: 30%;
    border-top: 2px solid rgba(0, 0,0, .4);
    margin-top: .6rem;
    margin-bottom: .6rem;
    margin-block-end: 0;
}
.alumniimage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alumnides{
    position: absolute;
    top: 41%;
    left: 0;
    width: 100%;
    height: 59%;
}
.alumnihead{
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: Arial, Helvetica, sans-serif,cursive;
}
.alumniimagestyle{
    width: 37%;
    height: 74%;
    border: 4px solid lightblue;
    border-radius: 50%;
}
.alumnilife{
    padding:.7rem .8rem;
}
.quotes{
    font-size:1.2rem;
}
.alumnilife p{
    font-size: 1.1rem;
    padding: 0 .2rem;
    text-align: center;
    line-height: 1.3;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 0rem;
}
.workarea h1{
    font-size: 1.1rem;
    font-weight: bold;
    margin-block-end: 0;
}
.workarea span{
    display: block;
    font-size: .9rem;
}
.secondcard{
    height: 27rem;
    width: 32%;
    margin:1rem;
    color: black;
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
  
    background:linear-gradient(to right,#007991,#78ffd6);
  
}

.thirdcard{
    height: 27rem;
    width: 32%;
    margin:1rem;
    color: black;
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
 
    background:linear-gradient(to right,#56CCF2,#2F80ED);
   
   
}


.alumniheader{
    margin:4rem 0;
    letter-spacing: .2rem;
    font-family: Arial, Helvetica, sans-serif,cursive;
}
.awesomecompanys{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-around;
}
.samsung{
height: 6rem;
width: 6rem;
}
.amazon{
height: 6rem;
width: 6rem;
}

@media only screen and (max-width:768px){
    .alumni{
        display: block;
    }
    .firstcard{
        margin:1rem auto;
    height: 28rem;
    width: 48%;
    }
    .secondcard{
        margin:3rem auto;
        height: 28rem;
        width: 48%;
    }
    .thirdcard{
        margin:3rem auto;
        height: 28rem;
        width: 48%;
    }
    .alumnihr2{
        width: 75%;
    }
}
@media only screen and (min-width:768px) and (max-width:1125px){
    .alumni{
        display: block;
    }
    .firstcard{
        margin:1rem auto;
    height: 29rem;
    width: 38%;
    }
    .secondcard{
        margin:3rem auto;
        height: 29rem;
        width: 38%;
    }
    .thirdcard{
        margin:3rem auto;
        height: 29rem;
        width: 38%;
    }
    .alumnihr2{
        width: 55%;
    }
    
  }
  @media only screen and (min-width:10px) and (max-width:540px){
    .alumni{
        display: block;
    }
    .firstcard{
        margin:1rem auto;
    height: 29rem;
    width: 80%;
    }
    .secondcard{
        margin:3rem auto;
        height: 29rem;
        width: 80%;
    }
    .thirdcard{
        margin:3rem auto;
        height: 29rem;
        width: 80%;
    }
    .alumnihr2{
        width: 90%;
    }
  }

 
