.videobox {
  width: 100%;
  height: 83vh;
  position: relative;
}
.carouswr {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  width: 102.2%;
  height: 100vh;
}
.backimg {
  height: 30%;
  width: 26%;
  margin-top: -5rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2rem;
}
.carouselx7 {
  position: relative;
  width: 100%;
  height: 91vh;
  background: #111;
}
.videobox video {
  position: absolute;
  width: 94%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.carouselx7:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, blue, #ff68f2);
  pointer-events: none;
  mix-blend-mode: overlay;
}
.textBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 6rem;
  font-weight: 800;
  mix-blend-mode: screen;
  color: #000;
  text-transform: uppercase;
}
.textBox span {
  font-size: 2.4rem;
  margin-top: -2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.secondbtn {
  display: inline-block;
  padding: 0.8rem 1rem;
  background: white;
  border-radius: 100px;
  position: relative;
  margin-top: 1.2rem;
  color: black;
  font-size: 1.3rem;
  border: 2px solid black;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.secondbtn,
.second:link,
.secondlist:active {
  text-decoration: none !important;
  overflow: hidden;
  color: black;
  border: 2px solid black;
  background: #fff;
}

@media only screen and (min-width: 300px) and (max-width: 1210px) {
  .textBox {
    width: 100%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1200px) {
  .carouswr {
    width: 94%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 620px) {
  .carouswr {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .videobox{height: 100%;}
  .carouselx7 {
    height: 100vh;
  }
  .textBox {
    font-size: 3.8rem;
  }
  .textBox span {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .backimg{
    width: 38%;
  }
  .secondbtn{
    font-size: 1.1rem;
    max-width: 36%;
  }
}

