.userpanelhead {
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.userform {
  background: white;
}
.gallerylink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.galleryname {
  font-size: 3rem;
  margin-top: -14rem;
  font-weight: 700;
  color: white;
}
.gallerydate {
  font-size: 1.3rem;
  font-weight: 800;
  color: white;
  margin-top: -0.8rem;
}
.gallerylink:hover {
  text-decoration: none;
  color: white;
}
.userpanelhead h1 {
  margin-top: 2rem;
  margin-left: 0.8rem;
  font-weight: bold;
}
.usergrid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.userlinks {
  position: relative;
}
.userlinkslist {
  list-style-type: none;
  background: gray;
  margin-left: -3rem;
}
.userlinkslist li {
  padding: 0.8rem 0;
}
.userlinkslist li a {
  color: rgb(46, 46, 46);
  font-weight: bold;
  text-decoration: none;
}

.active {
  background: white;
}
.active a {
  color: black;
}
.userpanellayout {
  background: gainsboro;
  color: black;
}
.ddates {
  font-size: 1.5rem;
  color: goldenrod;
  padding-top: 1.5rem;
  text-align: center;
}
.gallerylink:hover {
  text-decoration: none;
}
.gcards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gcard {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.gcard .gcard_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.gcard .gcard_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.gcard .gcard_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.gcard:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .gcard-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .usergrid {
    display: grid;
    grid-template-columns: 0% 100%;
  }
}

/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/
