.md {
    display: grid;
    grid-template-rows: auto;
    background: #2b3137;
    color: hsl(0, 0%, 100%, .6);
}

body {
    overflow-y: scroll !important;
}

.d {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.hr1 {
    width: 90%;
    margin-top: -.8rem;
}

.dh {

    text-transform: uppercase;
    letter-spacing: .3rem;
    box-sizing: content-box;
    margin: 1.5rem;
    font-size: 1.2rem;
}

.dcards {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.dcard {
    margin: 1.5rem;
    max-width: 13rem;
    background-color: rgba(0, 0, 0, .2);
}

.dimgstyle {
    margin: .4rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 4px solid goldenrod;
}

.dname {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.dskill {
    font-size: 1rem;
    padding: 1.5rem;
}

.m {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dimg {
    margin: .6rem;
}

.mh {
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.2rem;

}

.mcards {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.mcard {
    margin: 2rem;
    background-color: rgba(0, 0, 0, .2);
    max-width: 13rem;

}


.mimgstyle {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: .4rem;
    margin-top: .6rem !important;
    border: 4px solid goldenrod;
}

.aboutm {}

.mname {
    text-transform: uppercase;
}

.mdesignation {
    text-transform: uppercase;
}

.mabout {
    max-width: 13rem;
    text-align: center;
    padding: .4rem;
}