.memtopback {
  height: 10rem;
  position: relative;
  width: 100%;
}

.memtop-text {
  position: absolute;
  z-index: 1;
  color: white;
  top: 6%;
  left: 6%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.memtop-header {
  display: block;
  font-size: 3.4rem;
  margin-top: 0.7rem;
  font-weight: 700;
  margin-bottom: -0.5rem;
}
.memtopbackstyle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
body {
  overflow-y: scroll !important;
}

.dcard {
  height: 22rem;
  margin-top: 1rem;
  max-width: 20rem;
  background-color: rgba(248, 248, 248, 0.8);
  box-shadow: 1px 2px 3px rgba(39, 87, 141, 0.2);
  transition: all 0.4s;
  backface-visibility: hidden;
  position: relative;
  margin-left: 4rem;
}
.dmcard {
  height: 20rem;
  margin-top: 4.2rem;
  max-width: 18rem;
  background-color: rgba(248, 248, 248, 0.8);
  box-shadow: 1px 2px 3px rgba(39, 87, 141, 0.2);
  transition: all 0.4s;
  backface-visibility: hidden;
  position: relative;
  margin-left: 1.3rem;
}
.hovermaterial {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  height: 0%;
  width: 100%;
  transition: all 0.4s;
  z-index: 2;
  background: rgb(252, 250, 250);
}

.dcard:hover .memberrelativwrapper {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.dcard:hover .hovermaterial {
  height: 100%;
  display: block;
}

.dmcard:hover {
  transform: scale(1.05);
}
.dmcard:hover .memberrelativwrapper {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.dmcard:hover .hovermaterial {
  height: 100%;
  display: block;
}

.dmdcard:hover {
  transform: scale(1.05);
}
.dcard:hover {
  transform: scale(1.05);
}

.contenthover {
  padding: 0 1rem;
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  height: fit-content;
}
.tagline {
  display: block;
  padding-bottom: 0.4rem;
}
.position {
  background-color: goldenrod;
  font-size: 1rem;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -0.7rem;
  padding-top: 2px;
  padding-bottom: 2px;
  text-transform: uppercase;
  color: white;
}
.mposition {
  background-color: #5d4fff;
  font-size: 1rem;
  margin-left: 3.4%;
  margin-right: 3.4%;
  margin-top: -0.7rem;
  padding-top: 2px;
  padding-bottom: 2px;
  text-transform: uppercase;
  color: white;
}
.dimg {
  height: 76%;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 20%;
}
.dimgstyle {
  height: 100%;
  width: 100%;
}
.aboutd {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}
.dcard:hover .aboutd {
  top: 10%;
  left: 50%;
  transform: translateX(-23%);
}
.dname {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.1;
  font-weight: 600;
  margin-top: 0.8rem;
}

.dskill {
  color: #fe7f9c;
  font-size: 0.8rem;
}

.m {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dimg {
  margin: 0.6rem;
}

.mh {
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
}

.description {
  overflow-wrap: break-word;
  padding: 0.8rem 0.2rem 0.6rem 0.6rem;
}
.address {
  padding-bottom: 0.4rem;
}
.icons {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.dimagestyleflip {
  height: 50px;
  width: 50px;
  border: 1px solid rgb(238, 192, 40);
  border-radius: 50%;
  margin-top: 1rem;
}
.icons i {
  color: #fe7f9c;
  padding-right: 0.2rem;
}
.memberrelativwrapper {
  width: 208px;
  height: 256px;
}
.membersname {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0rem;
  font-size: 1.3rem;
}
.membersline {
  color: #fe7f9c;
  font-size: 0.8rem;
  margin-top: -0.1rem;
}
.memberrelativwrapper {
  width: 208px;
  display: none;
  height: 256px;
  height: 0%;
  transition: all 0.3s;
}
.year {
  padding-bottom: 0.2rem;
  margin-top: -0.2rem;
  font-size: 0.7rem;
  color: gray;
}
.address {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: gray;
}
@media only screen and (max-width: 500px) {
  .memtopback {
    height: 8rem;
    position: relative;
    width: 100%;
  }

  .memtop-text {
    position: absolute;
    z-index: 1;
    color: white;
    top: 4%;
    left: 6%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .memtop-header {
    display: block;
    font-size: 2.8rem;
    margin-top: 0.7rem;
    font-weight: 700;
    margin-bottom: -0.5rem;
  }
  .dcard {
    height: 22rem;
    margin-top: 1rem;
    max-width: 20rem;
    background-color: rgba(248, 248, 248, 0.8);
    box-shadow: 1px 2px 3px rgba(39, 87, 141, 0.2);
    transition: all 0.4s;
    backface-visibility: hidden;
    position: relative;
    margin-left: 1.9rem;
  }
  .dmcard {
    height: 20rem;
    margin-top: 4.2rem;
    max-width: 18rem;
    background-color: rgba(248, 248, 248, 0.8);
    box-shadow: 1px 2px 3px rgba(39, 87, 141, 0.2);
    transition: all 0.4s;
    backface-visibility: hidden;
    position: relative;
    margin-left: 3rem;
  }
}
