.userpanelhead {
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.userform {
  background: #021b79;
  margin-top: 1rem;
}
.userpanelhead h1 {
  margin-bottom: 0;
  margin-left: 0.8rem;
  font-weight: bold;
}
.usergrid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.userlinks {
  position: relative;
}
.userlinkslist {
  margin-top: 1rem;
  list-style-type: none;
  background: #2f80ed;
  margin-left: -3rem;
}
.userlinkslist li {
  padding: 0.8rem 0;
}
.userlinkslist li a {
  color: lightblue;
  font-weight: bold;
}
.userformheading {
  text-align: left;
  margin-top: 1rem;
}
.userformheading h1 {
  margin-left: 1rem;
  font-size: 1.7rem;
}

.updatebtn {
  text-align: left;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.updatebtn a {
  margin-left: 1rem;
  padding: 1rem 2rem;
  background-color: lightblue;
  border-radius: 100px;
}
.active {
  background: #021b79;
}
.userpanellayout {
  background: #000046;
  color: white;
}

input {
  border: none;
  transition: all 0.1s;
}
.yeardiv{
  margin-top: 1rem;
}
.yearlabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.yearinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.taglinediv{
  margin-top: 1rem;
}
.taglinelabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.taglineinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.branchdiv{
  margin-top: 1rem;
}
.branchlabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.branchinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.addressdiv{
  margin-top: 1rem;
}
.addresslabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.addressinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.descriptiondiv{
  margin-top: 1rem;
}
.descriptionlabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.descriptioninput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.phonediv{
  margin-top: 1rem;
}
.phonelabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.phoneinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.gitdiv{
  margin-top: 1rem;
}
.gitlabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.gitinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}.linkeddiv{
  margin-top: 1rem;
}
.linkedlabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.linkedinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.skillsdiv{
  margin-top: 1rem;
}
.skillslabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.skillsinput{
  display: block;
  width:30%;
  margin-top: .6rem;
  margin-left: .9rem;
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}
.imgdiv{
  margin-top: 1rem;
}
.imglabel{
  display: block;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.imginput{
  display: block;
  width:30%;
  margin-top: .6rem;
  
  border-radius: 9px;
  padding-left: 1rem;
  font-size: 1rem;
  color:grey;
}

